body {
    background-color: #6e8965;
    background-image: linear-gradient(rgb(248, 249, 217),#6e8965);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(141, 45, 0);
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: xx-large;
}

h2 {
    color: rgb(141, 45, 0);
    text-align:center;
    font-size: xxx-large;
}

h3 {
    color: rgb(141, 45, 0);
    text-align: left;
    font-weight: bold;
    font-size: xx-large;
}

h4 {
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

div {
    background: white;
    /*padding: 10px;
    margin: 10px;*/
    font-size: 1em;
    /*height: 100%;*/
    display:block;
}

span {
    padding: 10px;
    margin: 10px;
    background: white;
}

.scroll-content {
    overflow: scroll;
}

.fixed-size {
    font-size: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.item {
    width: 33.33%;
    margin: 20px;
    border: 0;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
    resize: both;
}

header {
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
  
footer {
    height: 0%;
    width: 0%;
}

p {
    color: rgb(141, 45, 0);
    text-align: left;
    font-size: large;
}

.wrapper {
    margin: auto;
    height: auto;
    width: 1000px;
    text-align: center;
    background: 0;
 }

section {
    padding:10px;
    margin: 1%;
    text-align: center;
    background: white;
    height: 50%
}

#twitter {
   float:left;
   background: white;
   margin: 10px;
   width: 200px;
}

#insta {
    float:left;
    background: white;
    margin: 10px;
    width: 200px;
 }

 #face {
    float:left;
    background: white;
    margin: 10px;
    width: 200px;
 }

 #tic {
    float:left;
    background: white;
    margin: 10px;
    width: 200px;
 }

 img, table, form, input, video, audio {
    width: 100%
    max-width: 100%;
 }

 img { 
     height: auto; 
}

 @media only screen and (max-width:600px) {
    main {
        display: flex;
        width: 100%;
        justify-content: left;
    }
    .item {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        margin: auto;
        background: 0;
    }
    section {
        width: 100%;
        background: 0;
    }
    #twitter {
        width: 100%;
     }
     
    #insta {
        width: 100%;
      }
     
    #face {
        width: 100%;
      }
     
    #tic {
        width: 100%;
      }
    h4 {
        width: 100%;
        font-size: xx-large;
        color: white;
        background: 0;
    }
 }