
h1 {
    color: rgb(141, 45, 0);
    text-align:center;
    font-style: italic;
}

h2 {
    color: rgb(141, 45, 0);
    text-align:center;
    font-style: italic;
}

div {
    background: white;
    padding: 20px;
    margin: 10px;
    font-size: 1em;
    height: 100%;
    display:block;
}

span {
    padding: 10px;
    margin: 10px;
    background: white;
}

.scroll-content {
    overflow: scroll;
}

.fixed-size {
    font-size: 100%;
}

p {
    color: rgb(141, 45, 0);
    text-align: center;
    font-size: x-large;
}

#twitter {
   float:left;
   background: white;
   margin: 10px;
   width: 200px;
}

#insta {
    float:left;
    background: white;
    margin: 10px;
    width: 200px;
 }

 #face {
    float:left;
    background: white;
    margin: 10px;
    width: 200px;
 }

 #tic {
    float:left;
    background: white;
    margin: 10px;
    width: 200px;
 